.edit-info__button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    line-height: 15px;
    width: 38px;
    height: 18px;
    margin-top: 24px;
    cursor: pointer;
}
.button:focus {
    outline-color: greenyellow;
  }
@media screen and (max-width: 980px) {
    .edit-infor__button {
        width: 38px;
        height: 18px;
    }
}